{% extends 'base.html' %}

{% block content %}

{% load static %}

<div id="heroCarousel" data-bs-interval="3000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/img/slide/slide-1.jpg' %}" class="d-block w-100" alt="Slide-1">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/img/slide/slide-2.jpg' %}" class="d-block w-100" alt="Slide-2">
    </div>
  </div>
  <a class="carousel-control-prev" role="button" href="#heroCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" role="button" href="#heroCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- ======= Hero Section ======= -->
<!--  <section id="hero">-->
<!--    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">-->

<!--      <div class="carousel-inner" role="listbox">-->

<!--        &lt;!&ndash; Slide 1 &ndash;&gt;-->
<!--        <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide-1.jpg);"><a href="https://fb.me/e/5KfcWwdHh">-->
<!--          <div class="carousel-container">-->
<!--            <div class="carousel-content animate__animated animate__fadeInUp">-->
<!--              <h2>Live Music Fundraiser</h2>-->
<!--              <p>Our very first fundraiser to help the people of Myanmar.</p>-->
<!--              <p>October 17 at Swiss Park, Newark USA</p>-->
<!--              </div>-->
<!--          </div>-->
<!--        </a>-->
<!--        </div>-->

<!--        &lt;!&ndash; Slide 2 &ndash;&gt;-->
<!--        <div class="carousel-item" style="background-image: url(/static/assets/img/slide/slide-2.jpg);">-->
<!--          <div class="carousel-container">-->
<!--            <div class="carousel-content animate__animated animate__fadeInUp">-->
<!--              <h2>Want to support a cause?</h2>-->
<!--              <p>-->
<!--                Collaborate with us!-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">-->
<!--        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>-->
<!--      </a>-->

<!--      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">-->
<!--        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>-->
<!--      </a>-->

<!--      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>-->

<!--    </div>-->
<!--  </section>&lt;!&ndash; End Hero &ndash;&gt;-->

{% endblock %}